<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="text" placeholder="Email" formControlName="email" id="email">
      <label for="password">Password</label>
      <input class="form-control" type="text" placeholder="Password" formControlName="password" id="password">
      <label for="password">Name</label>
      <input class="form-control" type="text" placeholder="Name" formControlName="name" id="name">
    </div>
    <button type="submit" class="btn btn-primary">Registration</button>
  </form>